body {

    margin: 0;
    padding: 0;
    background-image: url('../src/images/header.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  img{
    width: 200px;
    height: 150px;
  
  }
  .country-div{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(189, 168, 168);
  }
  .list{
    list-style: none;
  }
  h1{
    padding-top: 2rem;
    color: white;
    text-align: center;
    margin-top: 0;
  }
  .display-countries{
    width: 80%;
    margin:0 auto;
    text-align: center;
    background-color: rgb(130, 187, 228);
    height:200px;
  }
  .user-input {
    width : 20rem;
    height: 2.5rem;
    padding-left : 3rem;
    padding-right: 3rem;
    border-radius: 1rem;
    outline: 0;
}
.weather-div{
  align-items: center;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  background-color:rgb(189, 168, 168);
}
  
  